<h1>
  List of all movies
</h1>

<hr>
<form action="/add_movie" method="post">
  <div>
    <label for="movie_title_box">
      Title
    </label>
    <input type="text" id="movie_title_box" name="movie_title">
  </div>

  <div>
    <label for="movie_year_box">
      Year
    </label>
    <input type="text" id="movie_year_box" name="movie_year">
  </div>

  <div>
    <label for="movie_duration_box">
      Duration
    </label>
    <input type="text" id="movie_duration_box" name="movie_duration">
  </div>

  <div>
    <label for="movie_description_box">
      Description
    </label>
    <input type="text" id="movie_description_box" name="movie_description">
  </div>
  <div>
    <label for="movie_image_box">
      Image
    </label>
    <input type="text" id="movie_image_box" name="movie_image">
  </div>
  <div>
    <label for="director_id_box">
      Director ID
    </label>
    <input type="text" id="director_id_box" name="director_id">
  </div>
  
  <button>
    Create movie
  </button>
</form>
<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <% matching_directors = Director.where({ :id => a_movie.director_id }) %>
      
      <% the_director = matching_directors.at(0) %>
      <% if the_director == nil %>
        Uh oh! We weren't able to find a director for this movie.
      <% else %>
        <%= the_director.name %>
      <% end %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
